<a href="https://colab.research.google.com/github/SRARNAB7/HDS_5230_07_Arnab/blob/main/Practice_Arnab_not_yet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
numbers = [30, 10, -45, 5, 20]

def maximum_number(numbers):
  # Initialize max with the first element of the list
  max_num = numbers[0]

  # Iterate through the list starting from the second element
  for i in range(1, len(numbers)):
    if numbers[i] > max_num:
      max_num = numbers[i]
  return max_num

In [ ]:
maximum_number(numbers)

30

In [ ]:
import pandas as pd

# Employee table
employee = pd.DataFrame({
    'id': [1, 2, 3, 4, 5],
    'name': ['Joe', 'Jim', 'Henry', 'Sam', 'Max'],
    'salary': [70000, 90000, 80000, 60000, 90000],
    'departmentId': [1, 1, 2, 2, 1]
})

# Department table
department = pd.DataFrame({
    'id': [1, 2],
    'name': ['IT', 'Sales']
})

merge_df = employee.merge(department, how= 'left', left_on ='departmentId', right_on='id', suffixes= ('','_dept'))
#print(merge_df)

max_salary = merge_df.groupby('name_dept')['salary'].transform('max')
#print(max_salary)
result = merge_df[merge_df['salary']== max_salary][['name_dept','name','salary']]

result.columns = ['Department','Employee','Salary']

print(result)

  Department Employee  Salary
1         IT      Jim   90000
2      Sales    Henry   80000
4         IT      Max   90000

In [ ]:
import pandas as pd

# Sample data
data = {
    'id': [101, 102, 103, 104, 105, 106],
    'name': ['John', 'Dan', 'James', 'Amy', 'Anne', 'Ron'],
    'department': ['A', 'A', 'A', 'A', 'A', 'B'],
    'managerId': [None, 101, 101, 101, 101, 101]
}

df = pd.DataFrame(data)
# Count direct reports per manager
manager_counts = df['managerId'].value_counts()
print(manager_counts)

managers_with_5_reports = manager_counts[manager_counts >= 5].index

result = df[df['']]

managerId
101.0    5
Name: count, dtype: int64

In [2]:
families = {
  'Boal': ['Paul', 'Anny', 'Jim'],
  'Lester-Boal': ['Ellie', 'Ada', 'Teddy'],
  'Lester': ['Sarahlynn', 'Jessica', 'Grace', 'Carolynn']
}

family_list=[]

for key,values in families.items():
  for value in values:
    family_list.append([key,value])

print(family_list)

[['Boal', 'Paul'], ['Boal', 'Anny'], ['Boal', 'Jim'], ['Lester-Boal', 'Ellie'], ['Lester-Boal', 'Ada'], ['Lester-Boal', 'Teddy'], ['Lester', 'Sarahlynn'], ['Lester', 'Jessica'], ['Lester', 'Grace'], ['Lester', 'Carolynn']]

In [5]:
names = [['Boal', 'Paul'],
             ['Duck', 'Donald'],
             ['Duck', 'Daisy'],
             ['Boal', 'Ada'],
             ['Boal', 'Teddy'],
             ['Westhus', 'Eric']]

name_dict = {}

for key,name in names:
  if key in name_dict:
    name_dict[key].append(name)
  else:
    name_dict[key] = [name]

print(name_dict)

{'Boal': ['Paul', 'Ada', 'Teddy'], 'Duck': ['Donald', 'Daisy'], 'Westhus': ['Eric']}

In [8]:
students = [['Alice', 'A'], ['Bob', 'B'], ['Charlie', 'A'], ['David', 'C']]
#{'A': ['Alice', 'Charlie'], 'B': ['Bob'], 'C': ['David']}

students_dict= {}

for name,grade in students:
  if grade in students_dict:
    students_dict[grade].append(name)
  else:
    students_dict[grade] = [name]

print(students_dict)

{'A': ['Alice', 'Charlie'], 'B': ['Bob'], 'C': ['David']}

In [9]:
locations = [['USA', 'New York'], ['USA', 'Chicago'], ['France', 'Paris'], ['France', 'Lyon']]
#{'USA': ['New York', 'Chicago'], 'France': ['Paris', 'Lyon']}

location_dict ={}

for country,state in locations:
  if country in location_dict:
    location_dict[country].append(state)
  else:
    location_dict[country]= [state]

print(location_dict)

{'USA': ['New York', 'Chicago'], 'France': ['Paris', 'Lyon']}

In [ ]:
names = ['Alice Smith', 'Adam Jones', 'Bob Brown', 'Charlie Day']
#{'A': ['Alice Smith', 'Adam Jones'], 'B': ['Bob Brown'], 'C': ['Charlie Day']}