<a href="https://colab.research.google.com/github/SRARNAB7/HDS_5230_07_Arnab/blob/main/Practice_Arnab_not_yet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
numbers = [30, 10, -45, 5, 20]

def maximum_number(numbers):
  # Initialize max with the first element of the list
  max_num = numbers[0]

  # Iterate through the list starting from the second element
  for i in range(1, len(numbers)):
    if numbers[i] > max_num:
      max_num = numbers[i]
  return max_num

In [ ]:
maximum_number(numbers)

30

In [ ]:
import pandas as pd

# Employee table
employee = pd.DataFrame({
    'id': [1, 2, 3, 4, 5],
    'name': ['Joe', 'Jim', 'Henry', 'Sam', 'Max'],
    'salary': [70000, 90000, 80000, 60000, 90000],
    'departmentId': [1, 1, 2, 2, 1]
})

# Department table
department = pd.DataFrame({
    'id': [1, 2],
    'name': ['IT', 'Sales']
})

merge_df = employee.merge(department, how= 'left', left_on ='departmentId', right_on='id', suffixes= ('','_dept'))
#print(merge_df)

max_salary = merge_df.groupby('name_dept')['salary'].transform('max')
#print(max_salary)
result = merge_df[merge_df['salary']== max_salary][['name_dept','name','salary']]

result.columns = ['Department','Employee','Salary']

print(result)

  Department Employee  Salary
1         IT      Jim   90000
2      Sales    Henry   80000
4         IT      Max   90000

In [ ]:
import pandas as pd

# Sample data
data = {
    'id': [101, 102, 103, 104, 105, 106],
    'name': ['John', 'Dan', 'James', 'Amy', 'Anne', 'Ron'],
    'department': ['A', 'A', 'A', 'A', 'A', 'B'],
    'managerId': [None, 101, 101, 101, 101, 101]
}

df = pd.DataFrame(data)
# Count direct reports per manager
manager_counts = df['managerId'].value_counts()
print(manager_counts)

managers_with_5_reports = manager_counts[manager_counts >= 5].index

result = df[df['']]

managerId
101.0    5
Name: count, dtype: int64

In [ ]:
families = {
  'Boal': ['Paul', 'Anny', 'Jim'],
  'Lester-Boal': ['Ellie', 'Ada', 'Teddy'],
  'Lester': ['Sarahlynn', 'Jessica', 'Grace', 'Carolynn']
}

family_list=[]

for key,values in families.items():
  for value in values:
    family_list.append([key,value])

print(family_list)

[['Boal', 'Paul'], ['Boal', 'Anny'], ['Boal', 'Jim'], ['Lester-Boal', 'Ellie'], ['Lester-Boal', 'Ada'], ['Lester-Boal', 'Teddy'], ['Lester', 'Sarahlynn'], ['Lester', 'Jessica'], ['Lester', 'Grace'], ['Lester', 'Carolynn']]

In [ ]:
names = [['Boal', 'Paul'],
             ['Duck', 'Donald'],
             ['Duck', 'Daisy'],
             ['Boal', 'Ada'],
             ['Boal', 'Teddy'],
             ['Westhus', 'Eric']]

name_dict = {}

for key,name in names:
  if key in name_dict:
    name_dict[key].append(name)
  else:
    name_dict[key] = [name]

print(name_dict)

{'Boal': ['Paul', 'Ada', 'Teddy'], 'Duck': ['Donald', 'Daisy'], 'Westhus': ['Eric']}

In [ ]:
students = [['Alice', 'A'], ['Bob', 'B'], ['Charlie', 'A'], ['David', 'C']]
#{'A': ['Alice', 'Charlie'], 'B': ['Bob'], 'C': ['David']}

students_dict= {}

for name,grade in students:
  if grade in students_dict:
    students_dict[grade].append(name)
  else:
    students_dict[grade] = [name]

print(students_dict)

{'A': ['Alice', 'Charlie'], 'B': ['Bob'], 'C': ['David']}

In [ ]:
locations = [['USA', 'New York'], ['USA', 'Chicago'], ['France', 'Paris'], ['France', 'Lyon']]
#{'USA': ['New York', 'Chicago'], 'France': ['Paris', 'Lyon']}

location_dict ={}

for country,state in locations:
  if country in location_dict:
    location_dict[country].append(state)
  else:
    location_dict[country]= [state]

print(location_dict)

{'USA': ['New York', 'Chicago'], 'France': ['Paris', 'Lyon']}

In [ ]:
names = ['Alice Smith', 'Adam Jones', 'Bob Brown', 'Charlie Day']
#{'A': ['Alice Smith', 'Adam Jones'], 'B': ['Bob Brown'], 'C': ['Charlie Day']}

In [1]:
import pandas as pd

# Sample Logs data
logs_data = {
    'id': [1, 2, 3, 4, 5, 6, 7],
    'num': ['1', '1', '1', '2', '1', '2', '2']
}

logs_df = pd.DataFrame(logs_data)

# Sort by id to ensure correct order
logs_df = logs_df.sort_values('id').reset_index(drop=True)

# Shift to create previous/next comparisons
logs_df['prev1'] = logs_df['num'].shift(1)
logs_df['prev2'] = logs_df['num'].shift(2)

# Check for 3 consecutive same numbers
logs_df['is_consecutive'] = (logs_df['num'] == logs_df['prev1']) & (logs_df['num'] == logs_df['prev2'])

# Extract distinct numbers that meet the condition
result = logs_df[logs_df['is_consecutive']][['num']].drop_duplicates()
result.columns = ['ConsecutiveNums']

print(result)

  ConsecutiveNums
2               1

In [13]:
import pandas as pd

# Sample Logs data
logs_data = {
    'id': [1, 2, 3, 4, 5, 6, 7],
    'num': ['1', '1', '1', '2', '1', '2', '2']
}

df = pd.DataFrame(logs_data)
#print(df)
df = df.sort_values('id').reset_index(drop=True)

df['prev1'] = df['num'].shift(1)
df['prev2'] = df['num'].shift(2)
# print(df)

df['consecutive']= (df['num']==df['prev1']) & (df['num']==df['prev2'])
# print(df)
result = df[df['consecutive']][['num']].drop_duplicates()
result.coulmns = ['ConsecutiveNumbe']
print(result)

  num
2   1

/tmp/ipython-input-150449369.py:20: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  result.coulmns = ['ConsecutiveNumbe']

In [17]:
import pandas as pd

# Sample Accounts data
data = {
    'account_id': [3, 2, 8, 6],
    'income': [108939, 12747, 87709, 91796]
}

df = pd.DataFrame(data)


low_count = df[df['income']<= 20000].shape[0]
avg_count = df[(df['income']>= 20000) & (df['income']<= 50000) ].shape[0]
high_count = df[df['income']>= 50000].shape[0]

df_new = { 'category' : ['Low Salary', 'Average Salary', 'High Salary'],
          'accounts_count' : [low_count,avg_count,high_count]
}

result = pd.DataFrame(df_new)
print(result)

         category  accounts_count
0      Low Salary               1
1  Average Salary               0
2     High Salary               3

         category  accounts_count
0      Low Salary               1
1  Average Salary               0
2     High Salary               3

In [18]:
import pandas as pd

# Sample data
data = {
    'requester_id': [1, 1, 2, 3],
    'accepter_id':  [2, 3, 3, 4],
    'accept_date':  ['2016/06/03', '2016/06/08', '2016/06/08', '2016/06/09']
}

# Create DataFrame
requests_df = pd.DataFrame(data)

# Combine requester_id and accepter_id into one column of 'id's (as both are friendships)
requester_friends = requests_df[['requester_id']].rename(columns={'requester_id': 'id'})
accepter_friends = requests_df[['accepter_id']].rename(columns={'accepter_id': 'id'})
all_friends = pd.concat([requester_friends, accepter_friends])

# Count number of appearances (i.e., friendships) per user
friend_counts = all_friends['id'].value_counts().reset_index()
friend_counts.columns = ['id', 'num']

# Get the person with the most friends (top 1)
top_friend = friend_counts.head(1)

print(top_friend)

   id  num
0   3    3

In [25]:
import pandas as pd

# Sample data
data = {
    'requester_id': [1, 1, 2, 3],
    'accepter_id':  [2, 3, 3, 4],
    'accept_date':  ['2016/06/03', '2016/06/08', '2016/06/08', '2016/06/09']
}

requests_df = pd.DataFrame(data)

requester_ids = requests_df[['requester_id']].rename(columns ={'requester_id':'id'})
accepter_ids = requests_df[['accepter_id']].rename(columns = {'accepter_id':'id'})

new_df = pd.concat([requester_ids,accepter_ids])

friends_count = new_df['id'].value_counts().reset_index()

friends_count.columns=['id','num']

top_friend = friends_count.head(1)

print(top_friend)

   id  num
0   3    3

In [ ]:
import pandas as pd

# Sample data
customer_data = {
    'customer_id': [1, 2, 3, 3, 1],
    'product_key': [5, 6, 5, 6, 6]
}

product_data = {
    'product_key': [5, 6]
}

customer = pd.DataFrame(customer_data)
product = pd.DataFrame(product_data)

# Total number of distinct products
total_unique_products = product['product_key'].nunique()